body {
  background: #282c34;
  overflow: hidden;
}

.root {
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.message-list {
  margin-left: 8px;
  /* top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #282c34; */
}

.toolbar {
  position: fixed;
  top: 0px;
  right: 18px;
  height: 100%;
  z-index: 999;
  padding: 16px 16px 16px 16px;
  background: #333740;
}

.toolbar > label {
  display: block;
  font-family: monospace;
  color: #abb2bf;
}

.toolbar > input {
  color: #abb2bf;
  background: black;
  font-family: monospace;
  border-style: none;
}
