body {
  background: #282c34;
  overflow: hidden;
}

code {
  overflow-x: hidden !important;
}

.root {
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 8px;
}

.toolbar {
  position: fixed;
  top: 0px;
  right: 18px;
  height: 100%;
  z-index: 999;
  padding: 16px 16px 16px 16px;
  background: #333740;
}

.toolbar > label {
  display: block;
  font-family: monospace;
  color: #abb2bf;
}

.toolbar > input {
  color: #abb2bf;
  background: black;
  font-family: monospace;
  border-style: none;
}
